<div class="return">
    <mat-icon (click)="return()">keyboard_backspace</mat-icon>
    <player-list 
    [max]="room?.totalPlayer" 
    [number]="room?.activePlayerList.length"
    [players]="room?.activePlayerList"
    ></player-list>
</div>

<div class="body" *ngIf="is_start">
    <div class="header">
        <judge [userName]="current_judge" [isJudging]="is_judging"></judge>
        <question [question]="current_question"></question>
    </div>
    <div class="content" *ngIf="!is_judge && !is_judging">
        <card [card]="card" *ngFor="let card of player_deck" (click)="selectACardByPlayer(card.uniqueId)"></card>
    </div>
    <div class="content">
        <h5 *ngIf="!is_judging">正在等待玩家选择</h5>
        <card [card]="card" *ngFor="let card of pick_deck" (click)="selectACardByJudge(card.uniqueId)"></card>
    </div>
</div>

<begin *ngIf="is_owner && !is_start" 
[isOwner]="is_owner" [roomId]="room_id" 
[max]="room.totalPlayer" [number]="room.activePlayerList.length"></begin>
<messager [messages]="sys_messages"></messager>
