.round {
  margin-bottom: 20px;
}
.round h5 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.round ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.round ul li {
  margin-bottom: 10px;
  font-size: 16px;
}
