:host {
  box-sizing: border-box;
}
.return {
  padding: 12px 20px;
}

.form {
  padding: 20px;
}
.example-full-width {
  width: 100%;
  margin-bottom: 20px;
}

.example-full-width.button {
  display: flex;
  justify-content: flex-end;
}
