<div class="buttons">
    <button mat-stroked-button color="primary" class="button" (click)="refresh()">刷新列表</button>
    <button mat-stroked-button color="primary" (click)="createNewRoom()">创建新房间</button>
</div>
<div class="spinner" *ngIf="refreshing">
    <mat-spinner></mat-spinner>
</div>

<div class="list" *ngIf="!refreshing">
    <div class="center" *ngIf="roomList.length == 0">找不到任何房间，请刷新列表</div>
    <app-room [name]="room.name" 
    [id]="room.uniqueId" 
    [total]="room.totalPlayer" 
    [number]="room.activePlayerList.length"
    *ngFor="let room of roomList"></app-room>
</div>
