:host {
  padding-bottom: 40px;
  box-sizing: border-box;
  display: block;
}
.buttons {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  width: 40%;
}

.center {
  width: 100%;
  text-align: center;
}

.mat-spinner {
}
